<div class="form">
	<form method="GET" action="/api/display-restaurants">
		<div class="form-group">
			<label for="page">Page:</label>
			<input type="text" name="page" placeholder="Enter page number" /><br />
		</div>
		<div class="form-group">

			<label for="perPage">Per Page:</label>
			<input type="text" name="perPage" placeholder="Entries per page" /><br />
		</div><div class="form-group">

			<label for="borough">Borough:</label>
			<input type="text" name="borough" placeholder="Enter Borough" /><br />
		</div>
		<div class="form-group buttons">

			<button type="submit">Submit</button>
			<button type="reset">Reset</button>
		</div>
	</form>
</div>