
<div class="form">
	<form method="POST" action="/login">
		<div class="form-group">
			<label for="page">Username:</label>
			<input type="text" name="username" placeholder="Enter username" /><br />
		</div>
		<div class="form-group">

			<label for="password">Password:</label>
			<input type="password" name="password" placeholder="Enter password" /><br />
		</div>
		<div class="err">{{this.error}}</div>
		<div class="form-group buttons">
			<button type="submit">Submit</button>
		</div>
	</form>
</div>